<div style="background-image: url(../../assets/images/pexels-pixabay-39389.jpg); background-size: 100% 100%;"> 
<!-- <div style="background-color:#DADADA;margin-top: 10px;"> -->
<div>
    <div class="top">
    <div style="margin-bottom: 200px; width: 500px; height:250px;" class="card">
        <div class="card-header" style="background-color: #DDD5D3;">Login Page</div>
        <div class="card-body" style="background-color: #DDD5D3;">
            <div style="margin-top: 40px;">
                        <form>
                
                <button  (click)="userlogin()"  style="font-size: 20px;" class="btn btn-primary"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;User-Login </button>
                &nbsp;&nbsp;
                <button (click)="adminlogin()"  style="font-size: 20px;" class="btn btn-primary"><i class="fas fa-user-cog" aria-hidden="true"></i>&nbsp;&nbsp;Admin-Login</button>
                
            </form>
            </div>
        </div>
    </div>
    <p style="color:#DADADA ;">.</p>
    </div> -->
</div>
</div>
    <style>
        .card-body{
            text-align: center;
            font-style: Roboto,HelveticaNeue-Light,sans-serif;
            font-size: 20px;
        }
        .card-header{
            font-style: Roboto,HelveticaNeue-Light,sans-serif;
            font-size: 24px;
            text-align: center;
        }
        .top{
            padding-top: 150px;
        }
        button{
            width: fit-content;
        }
    </style>
    
    