<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<div style="margin-top: 100px; margin-bottom: 250px; width: 500px;" class="card">
  <div class="card-header">Change Password</div>
  <div class="card-body">
    <form #f="ngForm">

      <div class="form-group">
        <label for="resetPasswordEmail">New Password</label>
        <input type="password" class="form-control" required id="newpassword" name="newpassword" placeholder="Enter Password"
          [(ngModel)]="pass"  #newpassword="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}" />
        <div *ngIf="newpassword.invalid && (f.submitted || newpassword.touched)" class="alert alert-danger">
          <div *ngIf="newpassword.errors?.required"> Password is required. </div>
          <div *ngIf="newpassword.errors?.pattern"> Must contain at least one number and one uppercase and lowercase letter,
            and at least 8 or more characters.</div>
        </div>
      </div>


      <div class="form-group">
        <label for="resetPasswordEmail">Confirm Password</label>
        <input type="password" class="form-control" id="newconfirmpassword" required name="newconfirmpassword"
          placeholder="Enter password again"  #newconfirmpassword="ngModel" [(ngModel)]="cpass" pattern="{{ newconfirmpassword.value }}" />
        <div *ngIf=" newconfirmpassword.invalid && (f.submitted || newconfirmpassword.touched)" class="alert alert-danger">
          <div *ngIf="newconfirmpassword.errors?.required"> Confirm password is required. </div>
          <div *ngIf="newconfirmpassword.errors?.pattern"> Password & Confirm Password does not match.</div>
        </div>
      </div>

      <button type="submit" (click)="changepass(pass, cpass)" class="btn btn-primary">Save</button>

    </form>
  </div>
</div>

<style>
  .card-header{
      font-style: Roboto,HelveticaNeue-Light,sans-serif;
      font-size: 23px;
      text-align: center;
  }
  .card-body{
      font-style: Roboto,HelveticaNeue-Light,sans-serif;
      font-size: 20px;
  }
</style>
