.topnav {
    height: 100px;
    overflow: hidden;
    background-color:#33475b;
    width: 100%;
    margin: auto;

  
  }
  #nav_table{
    float: right;
    width: 20%;
    margin: 30px 0px 0px 0px;
    margin-right: 20px;
    
  }

  .icons{
    text-align: center;
    font-size: 20px;
  }