<!-- <div style="background-image: url(../../assets/images/pexels-dids-4951277.jpg); background-size: 100% 100%;">  -->
<div *ngIf="status==false">
<div class="card" style="margin-bottom:500px;">
  <div class="card-header">Status</div>
  <div class="card-body">
    Account under processing
  </div>
  </div>
</div>
<div  *ngIf="status==true">
<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-6"  >
       <div class="card ">
          <div class="card-header" >
           <div class="text-center">

            <i class="fa fa-user-circle-o" style="font-size:40px"></i>
            <div class="font-type" style="font-weight: bold;">
                DASHBOARD
            </div>
           </div>
        </div>
             <div class="card-body" style="background-color: #DDD5D3;">
               <div class="font-type">
                 <!-- Card Number:<span style="float:right">{{dashboard.EMIcard_number}}</span><br/>
                 Name:<span style="float:right">{{dashboard.customer_name}}</span><br/>
                 Valid till: <span style="float: right;">{{dashboard.EMIcard_expiry}}</span><br/>
                 CARD TYPE: <span style="float: right;">{{dashboard.EMIcardtype_name}}</span> -->
                 <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" >
                    <span style="font-weight: bold;">Card Number:</span>
                    <span class="label ">{{dashboard.EMIcard_number}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span style="font-weight: bold;">Name:</span>
                      <span class="label ">{{dashboard.customer_name}}</span>
                    </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center ">

                    <span style="font-weight: bold;">Valid till:</span>
                    <span class="label ">{{dashboard.EMIcard_expiry}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center ">

                    <span style="font-weight: bold;">Status:</span>
                    <span class="label ">Active</span>
                  </li>
                </ul>
               </div>
             </div>
       </div>
    </div>
    <div class="col-md-6">
     <div class="card">
           <div class="card-header" style="text-align: center;" >
              <span >
                <i style="font-size:40px"class="fa fa-credit-card"></i>
               </span>
               <div class="font-type" style="font-weight: bold;">
               CREDIT CARD
               </div>
           </div>
         <div class="card-body" style="background-color: #DDD5D3;">
            <div class="font-type">
             <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">

                  <span style="font-weight: bold;">Total credit:</span>
                  <span class="label label-primary">{{dashboard.total_limit}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">

                    <span style="font-weight: bold;">Used credit:</span>
                    <span class="label label-danger">{{dashboard.used_credit}}</span>
                  </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">

                  <span style="font-weight: bold;">Remaining credit:</span>
                  <span class="label label-success">{{dashboard.remaining_credit}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">

                  <span style="font-weight: bold;">Card Type:</span>
                  <span class="label ">{{dashboard.EMIcardtype_name}}</span>
                </li>
              </ul>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="row">
      <div class="col-md-12" >
         <div class="card ">
            <div class="card-header" >
             <div class="text-center">
              <span class="font-type" style="font-weight: bold;">
                  PRODUCTS PURCHASED
              </span>
              <span><i class="fa fa-shopping-cart" style="font-size:24px"></i></span>
             </div>
          </div>
         </div>
      </div>
    </div>
  </div>


<div class="container" style="margin-bottom: 30px;">
    <div class="row" *ngFor="let p of dashboard.products">
      <div class="col-md-12" >
         <div class="card ">
            <div class="card-header" >
             <div class="text-center">
              <div class="font-type">
                  {{p.Name}}
              </div>
             </div>
            </div>
               <div class="card-body">
                 <div class="row vertical-align">
                   <div class="col-md-4">
                    <img class="image-responsive" width="80%" height="80%" [src]="p.Image"  />
                   </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-6">
                            <div class="font-type" style="font-weight: bold;">
                            Details
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="font-type">
                            : <span [innerHTML]="p.Details"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="font-type" style="font-weight: bold;">
                            Cost
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="font-type">
                            : {{p.Cost | currency:'INR'}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="font-type" style="font-weight: bold;">
                            Paid
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="font-type">
                            : {{p.PaidAmount | currency:'INR'}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="font-type" style="font-weight: bold;">
                            Balance
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="font-type">
                            :  {{p.BalanceAmount | currency:'INR'}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                          <div class="font-type" style="font-weight: bold;">
                          Pay Now
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="font-type">
                          <button [disabled]="p.PaymentStatus" class="btn btn-primary" (click)="OnClickPayNow(p.OrderId)">PayNow</button>
                          </div>
                      </div>
                  </div>
                   </div>
                 </div>
               </div>
         </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12" >
         <div class="card ">
            <div class="card-header" >
             <div class="text-center">
              <span class="font-type" style="font-weight: bold;">
                  RECENT TRANSACTIONS
              </span>
              <span><i class="fa fa-shopping-cart" style="font-size:24px"></i></span>
             </div>
          </div>
         </div>
      </div>
    </div>
  </div>


<div class="container">
<div class="row">
<div class="col-md-12">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-sm" style="font-weight: bold;">
                  PRODUCT
              </div>
              <div style="padding-left: 100px;" class="col-sm" style="font-weight: bold;">
                  DATE
              </div>
              <div style="padding-left: 50px;" class="col-sm" style="font-weight: bold;">
                  AMOUNT PAID
              </div>
          </div>
      </div>
      <div class="card-body" *ngIf="!!recent && !!recent.product" >
          <span >
              <div class="row">
                  <div class="col-sm">
                    {{recent.product.product_name}}
                  </div>
                  <div class="col-sm">
                    {{recent.recent.Payment_date | date:'MMM d, y'}}
                  </div>
                  <div class="col-sm">
                   {{ recent.recent.Amount_paid| currency:'INR'}}
                  </div>
              </div>
          </span>
      </div>
  </div>
</div>
</div>
</div>
  <br>
</div>
<!-- </div> -->








