<div style="margin-top: 6%; margin-bottom: 170px;"class="container-fluid">
  <div class="row">
  <div class="col-md-4 mx-auto">
  <div class="card">
      <div class="card-header">
          <div style="text-align: center;">
          Forgot Password
          </div>
      </div>
      <div class="card-body">
          <form #f="ngForm"novalidate (ngSubmit)=onSubmit(f)>
            <div class="form-group">
              <label for="resetPasswordEmail">User Email</label>
              <input type="email" name="email" required #email="ngModel" class="form-control" id="email"
                  placeholder="Enter email" [(ngModel)]="mail">
          </div>
              <button type="submit" (click)="SendOtp(mail)" class="btn btn-primary btn-md">Get OTP</button>
              <br>
              <br>
              <div class="form-group">
                  <label for="resetPasswordEmail">Enter OTP</label>
                  <input type="text" name="otp" [(ngModel)]="resetPasswordEmail" required #otp="ngModel"
                      class="form-control" id="resetPasswordEmail" placeholder="Enter received OTP">
              </div>
  
              <button type="submit" (click)="verifyopt(resetPasswordEmail)" class="btn btn-primary btn-md">Verify
                  OTP</button>
          </form>
      </div>
  </div>
  </div>
  </div>
  </div>

  <style>
      .card-header{
          font-style: Roboto,HelveticaNeue-Light,sans-serif;
          font-size: 23px;
          text-align: center;
      }
      .card-body{
          font-style: Roboto,HelveticaNeue-Light,sans-serif;
          font-size: 20px;
      }
  </style>