 <div style="margin-top: 10px;">
 <main class="container">
    <div>
   <h3><b>Terms and Conditions</b></h3>
   
       <ul>
       <li>Select your preferred EMI option at the time of payment.</li>
       <li> Final EMI is calculated on the total value of your order at the time of payment.</li>
       <li> The Bank charges annual interest rates according to the reducing monthly balance. In the monthly reducing cycle, the principal is reduced with every EMI and the interest is calculated on the outstanding balance.</li>
       <li> The minimum order value to avail the EMI payment option is Rs. 3,000.</li>
        <li>This option is available only when the cart contains items from a single seller</li>
        <li>In case of any kind of refund in an EMI transaction, interest already billed in a particular transaction is not refundable under any circumstances.</li>
       <li> You will not be charged a processing fee for availing EMI card, the interest charged by the bank shall not be refunded.</li>
       <li> You may check with the respective bank/issuer on how a cancellation, refund or pre-closure could affect the EMI terms and what interest charges would be levied on you for the same.</li>
       <li> For select banks, the interest amount on the first EMI will be calculated from the loan booking date till the payment due date.</li>
      <li>  GST may also be levied by the bank as applicable.</li>
      </ul>
    
     <b>Note:</b><span>The Processing fee is non refundable</span>
   
</div>
</main> 
</div>
