<div style="background-image: url(../../assets/images/cardmapr-oJAHi6JyFF4-unsplash.jpg); margin-top: 10px;">
 <div style="margin-top: 10px;">
  
 <main class="container" style="background-color:#f8eded;margin-top: 10px;border-radius: 5px;">
    
      <div class="leftc">
        <div *ngFor="let p of products">
          <img [src]="p.product_image" height="250">
          <br><br><br>
        </div>
          <!-- <img src="../../assets/images/Marshall.png"height="250">
          <br><br><br>
          <img src="../../assets/images/boat.png"height="250">
          <br><br><br><br>
          <img src="../../assets/images/Oneplus.png"height="250">
          <br><br><br>
          <img src="../../assets/images/Dell.png"height="250">
          <br><br><br>
          <img src="../../assets/images/Fossil.png"height="250">
          <br><br><br>
          <img src="../../assets/images/Nikon.png"height="250">
          <br><br><br> -->
      </div>
  
      <div class="rightc">
        <div *ngFor="let p of products">
          <div class="MAIN PRODUCT DETAILS">
              <h1>{{p.product_name}}</h1>
            <span><strong>DETAILS:</strong> </span>
              <div [innerHTML]="p.product_details"></div>           
          <p><strong>COST: {{p.product_price}}</strong></p>
           <!-- <button type="button" [routerLink]="['/ProductInfo/', p.product_id]"><strong>BUY NOW</strong></button> -->
           <button type="button"(click)="onSubmit(p.product_id)"><strong>BUY NOW</strong></button>
           <br><br><br><br>
          </div>
          </div>
      </div>
  </main>
 </div>
 </div>
  
  
